<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo APP using custom REST API</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form>
        <input type="text" id="title" placeholder="title">
        <input type="text" id="desc" placeholder="description">
        <input type="submit" onclick="createTask()" value="Create">
    </form>
    <div class="pending"></div>
    <div class="completed"></div>

    <script src="./main.js"></script>
</body>
</html>